			@import url('https://fonts.googleapis.com/css?family=Cabin');
			@import url('https://fonts.googleapis.com/css?family=Raleway');
			@import url('https://fonts.googleapis.com/css?family=Allerta');
			@import url('https://fonts.googleapis.com/css?family=Lato');

	body {
			margin-left: 0px;/*creates open space and tells all elements within to begin 400px left*/
			background: #232B2B url("images/hotrod02.png") no-repeat top left;/*Hot Rod picture and BG color*/
			font-family: 'Raleway', Helvetica, Arial, sans-serif;/*base font style for page*/
			max-width: 1200px;/*stops scaling of page width at 1200px*/

		}
		a {/*addresses properties of all "a" links*/
		    color: #146EB4;
		    font-family: 'Lato', Helvetica, Arial, sans-serif;
		    font-size: 22px;
		}
		a:visited {
		    color: #146EB4;
		    font-family: 'Lato', Helvetica, Arial, sans-serif;
			font-size: 22px;
		}
		a:hover {
		    color: #146EB4;
		    font-family: 'Lato', Helvetica, Arial, sans-serif;
			font-size: 22px;
		}
		a:focus {
		    color: #146EB4;
		    font-family: 'Lato', Helvetica, Arial, sans-serif;
			font-size: 22px;
		}
		a:active {
		    color: #146EB4;
		    font-family: 'Lato', Helvetica, Arial, sans-serif;
			font-size: 22px;
		}
		h1 { /*addresses properties of all "h1" text*/

			color: #DC3D24;
			font-family: "Cabin", "Helvetica", Arial, sans-serif;
			text-decoration-line: underline;
			font-size: 72px;
			text-shadow: 1px 1px black;/*Adds Shadow*/
			}
		h2 { /*addresses properties of all "h2" text*/
			/*text-decoration-line: underline;*/
			font-family: "Cabin", "Helvetica", Arial, sans-serif;
			font-size: 36px;
		}
		.headsection {
			margin-left: 100px;
			position: fixed;
			display: flex;
			flex-direction: column;
			width: 1665px;
		}
		.head1 {
			background-color: #232F3E;
			background-repeat: no-repeat;
			max-height: 200px;
			width: 1665px;			
		}
		.head2 {
			top: 200px;
			display: flex;
			flex-direction:row;
			background-color: #FFFFFF;
			background-repeat: no-repeat;	
			border-color: #808080;
			max-height: 700px;
			width: 1665px;			
		}
		.head3 {
			top: 900px;
			background-color: #FFFFFF;
			background-repeat: no-repeat;
			max-height: 180px;			
		}
		.navbar a {
			top: 1080px;
			margin-left: 200px;
			display: flex;
			flex-direction: row;
			float: left;
			display: block;
			padding: 14px 46px;
			color: #232F3E;
		    text-align: center;
		    font-family: 'Lato', Helvetica, Arial, sans-serif;
		    font-size: 18px
		}
		.navbar a:hover {
			padding: 14px 46px;
			background-color: #232F3E;
			color: #E3AE57;
		}
		.navbar a:active {
			padding: 14px 46px;
			background-color: #232F3E;
			color: #E3AE57;
		}
		.mainbuttons {
			top: 1080px;
			display: flex;
			flex-direction: row;
			background-color: #FF9900;
			width: 1200px;
		}
		.button1 {
			background-color: #FF9900					;
		    text-align: center;
		    font-family: 'Lato', Helvetica, Arial, sans-serif;
		    font-size: 18px
		    width: 33%;
		    height: 500px;
		}
		.button2 {
			background-color: #FF9900					;
		    text-align: center;
		    font-family: 'Lato', Helvetica, Arial, sans-serif;
		    font-size: 18px
		    width: 33%;
		    height: 500px;
		}
		.button3 {
			background-color: #FF9900					;
		    text-align: center;
		    font-family: 'Lato', Helvetica, Arial, sans-serif;
		    font-size: 18px
		    width: 33%;
		    height: 500px;
		 }
		.mainbuttons > .button1 {order:1;}
		.mainbuttons > .button2 {order:2;}
		.mainbuttons > .button3 {order:3;}
