			@import url('https://fonts.googleapis.com/css?family=Cabin');
			@import url('https://fonts.googleapis.com/css?family=Raleway');
			@import url('https://fonts.googleapis.com/css?family=Allerta');
			@import url('https://fonts.googleapis.com/css?family=Lato');

	body {
			margin-left: 0px;
			background: #232F3E;
			font-family: 'Raleway', Helvetica, Arial, sans-serif;/*base font style for page*/
			max-width: 1200px;/*stops scaling of page width at 1200px*/

		}
		a {/*addresses properties of all "a" links*/
		    color: #146EB4;
		    font-family: 'Lato', Helvetica, Arial, sans-serif;
		    font-size: 22px;
		}
		a:visited {
		    color: #146EB4;
		    font-family: 'Lato', Helvetica, Arial, sans-serif;
			font-size: 22px;
		}
		a:hover {
		    color: #146EB4;
		    font-family: 'Lato', Helvetica, Arial, sans-serif;
			font-size: 22px;
		}
		a:focus {
		    color: #146EB4;
		    font-family: 'Lato', Helvetica, Arial, sans-serif;
			font-size: 22px;
		}
		a:active {
		    color: #146EB4;
		    font-family: 'Lato', Helvetica, Arial, sans-serif;
			font-size: 22px;
		}
		h1 { /*addresses properties of all "h1" text*/

			color: #DC3D24;
			font-family: "Cabin", "Helvetica", Arial, sans-serif;
			text-decoration-line: underline;
			font-size: 72px;
			text-shadow: 1px 1px black;/*Adds Shadow*/
		}
		h2 { /*addresses properties of all "h2" text*/
			/*text-decoration-line: underline;*/
			font-family: "Cabin", "Helvetica", Arial, sans-serif;
			font-size: 36px;
		}
		h3 {
			font-family: "Cabin", "Helvetica", Arial, sans-serif;
			font-size: 36px;
			color: #FFFFFF;
		}
		h4 {
			font-family: "Lato", "Helvetica", Arial, sans-serif;
			font-size: 18px;
			color: #FF9900;
		}
		h5 {
			font-family: "Lato", "Helvetica", Arial, sans-serif;
			font-size: 12px;
			color: #FF9900;
		}
		.headsection {
			margin-left: 100px;
			display: flex;
			flex-direction: column;
			width: 1663px;
		}
		.head1 {
			background-color: #232F3E;
			background-repeat: no-repeat;
			max-height: 200px;
			width: 1663px;			
		}
		.head2 {
			top: 200px;
			display: flex;
			flex-direction:row;
			background-color: #FFFFFF;
			background-repeat: no-repeat;	
			border-left: 3px solid #FF9900;
			border-right: 3px solid #FF9900;
			max-height: 700px;
			width: 1663px;			
		}
		.head3 {
			display: flex;
			flex-direction: row;
			top: 900px;
			background-color: #FFFFFF;
			background-repeat: no-repeat;
			align-items: center;
			border-left: 3px solid #FF9900;
			border-right: 3px solid #FF9900;
			width: 1663px;
			color: #FF9900;

		}
		.head4 {
			top: 900px;
			background-color: #FFFFFF;
			background-repeat: no-repeat;
			max-height: 180px;
			border-left: 3px solid #FF9900;
			border-right: 3px solid #FF9900;			
			width: 1663px;
		}
		.headsection > .head1 {order:1;}
		.headsection > .head2 {order:4;}
		.headsection > .head3 {order:3;}
		.headsection > .head4 {order:2;}
		.headsection > .head5 {order:5;}
		.headsection > .mainbuttons {order:6;}
		.headsection > .bodysection {order:7;}

		.head3 > .#vidwin1 {order:1;}
		.head3 > .#vidwin2 {order:2;}
		.head3 > .#vidwin3 {order:3;}

		#vidwin1 {
			width: 430px;
			height: 450px;
			color: #FF9900;
			text-align: center;

		}
		#vidwin2 {
			width: 802px;
			height: 450px;
			color: #FF9900;
			text-align: center;
		}
		#vidwin3 {
			width: 431px;
			height: 450px;
			color: #FF9900;
			text-align: center;

		}
		.navbar a {
			top: 1080px;
			margin-left: 200px;
			display: flex;
			flex-direction: row;
			float: left;
			display: block;
			padding: 14px 46px;
			color: #232F3E;
		    text-align: center;
		    font-family: 'Lato', Helvetica, Arial, sans-serif;
		    font-size: 18px
		}
		.navbar a:hover {
			padding: 14px 46px;
			background-color: #232F3E;
			color: #E3AE57;
		}
		.navbar a:active {
			padding: 14px 46px;
			background-color: #232F3E;
			color: #E3AE57;
		}
		.mainbuttons {
			top: 1080px;
			display: flex;
			flex-direction: row;
			background-color: #FFFFFF;
			width: 1px;
		}
		.button1 {
			background-color: #FFFFFF;
		    text-align: center;
		    font-family: 'Lato', Helvetica, Arial, sans-serif;
		    font-size: 18px
		    width: 5px;
		    height: 300px;
			border-width: 1px;
			border-style: solid;
			border-color: #FF9900;
			border-left: 3px solid #FF9900;
		}
		.button2 {
			background-color: #FFFFFF;
		    text-align: center;
		    font-family: 'Lato', Helvetica, Arial, sans-serif;
		    font-size: 18px
		    width: 5px;
		    height: 300px;
		    border-width: 1px;
			border-style: solid;
			border-color: #FF9900;
		}
		.button3 {
			background-color: #FFFFFF;
		    text-align: center;
		    font-family: 'Lato', Helvetica, Arial, sans-serif;
		    font-size: 18px
		    width: 5px;
		    height: 300px;
		    border-width: 1px;
			border-style: solid;
			border-color: #FF9900;
			border-right: 3px solid #FF9900;

		}
		
		.mainbuttons > .button1 {order:1;}
		.mainbuttons > .button2 {order:2;}
		.mainbuttons > .button3 {order:3;}

		.bodysection {
			margin-left: 100px
			background-color: #FF9900;
			width: 1671px;
		}
		.body1 {
			background-color: #FF9900;
			height: 48px;
			width: 1671px;
			height: 150px;
		}
		.body2 {
			background-color: #FFFFFF;
			color: #FF9900;
			width: 1671px;
			height: 150px;
		}
		.bodysection > .body1 {order:1;}
		.bodysection > .body2 {order:2;}
